<!DOCTYPE html><html>
<head>
    <!-- Bootstrap Link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profiles.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa:300,700' rel='stylesheet'>

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <link href="../static/profiles.css" rel="stylesheet" />
    <title>
        Chosen Profile
    </title>
    </head>

    <body>

        <!-- Profile Box buttons-->
        <h1> <center>Option chosen is: {{msg1}}</center></h1>
        <h2> <center> Profile chosen is: {{msg2}}</center></h2>
        <h3> <center> Amount entered is: {{msg3}}</center></h3>

    </body>

    <script>

    </script>

</html>